body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

.txt-center {
  text-align: center; }

#page-wrapper {
  min-height: 100%;
  margin-bottom: -60px; }
  #page-wrapper:after {
    content: "";
    display: block;
    height: 60px; }

footer {
  width: 100%;
  height: 60px;
  padding-top: 15px; }
  footer * {
    text-align: center; }

.main-nav {
  margin: 3rem 0;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0;
  background-color: #fefefe;
  color: rgba(0, 0, 0, 0.74); }

.brand {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem; }

.brand {
  letter-spacing: 1px; }

.nav-item {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(to bottom, transparent 50%, #fefefe 50%, #fefefe 100%, #ee6e73 100%);
  background-size: 100% 200%;
  background-position: top center;
  transition: all .1s ease-out; }
  .nav-item:hover {
    background-position: bottom center;
    color: rgba(0, 0, 0, 0.75); }
  .nav-item a {
    display: block;
    width: 100%;
    padding: 1rem 0;
    transition: all .1s ease-in;
    color: rgba(0, 0, 0, 0.74); }
    .nav-item a:visited {
      color: rgba(0, 0, 0, 0.74); }
    .nav-item a:hover {
      background-color: rgba(0, 0, 0, 0.12); }

.nav-separator {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem; }

.img {
  height: auto;
  max-width: 100%; }

.img-round {
  border-radius: 95%; }

body {
  background-color: #fefefe; }

fieldset {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.75em;
  color: rgba(0, 0, 0, 0.74); }

.form .form-label {
  display: block;
  margin-bottom: 4px; }

.form fieldset input {
  margin-bottom: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 0.5em 0 0.5em 0.75em; }

.form select {
  margin-bottom: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 0.5em 0 0.5em 0.75em; }

.form small {
  display: block; }

.form ul {
  list-style-type: none; }
  .form ul input {
    margin-right: 5px;
    display: inline-block; }

.form-btn {
  color: #fff;
  padding: 1rem;
  font-size: 15px;
  background-color: #4db6ac;
  border: 1px solid #4db6ac;
  border: none;
  border-radius: 5px; }

.form-btn:hover {
  background-color: #4bb5ab; }

.sidebar {
  position: fixed;
  float: left;
  width: 17rem;
  height: 100%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.74);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: center; }

.content {
  overflow: hidden; }

.time {
  margin-top: 1.5rem; }

.sidebar-push {
  margin-left: 21rem; }

.invisible {
  display: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }
  a:visited {
    color: #000; }

.menu-header {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: 'Roboto Slab';
  font-style: italic;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: .5rem; }

.flex-vertical-center {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.about {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: center; }
  .about h2 {
    flex: inital; }
  .about p {
    flex: initial;
    font-size: 20px;
    line-height: 1.75rem;
    text-align: justify;
    text-justify: inter-word; }

.display {
  width: 40rem; }

.btn {
  margin: 1.25rem 0;
  padding: 2rem;
  border-radius: 2px;
  background-color: #4db6ac;
  color: #fefefe;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.35s ease-in-out;
  text-transform: uppercase;
  letter-spacing: .5px; }
  .btn:hover {
    background-color: #71c5bd;
    transform: scale(1.1); }

ul {
  list-style: none; }
  ul p {
    display: inline-block;
    font-size: 1.25rem; }

.page-header {
  padding: 3rem 4rem;
  padding-bottom: 2rem;
  margin-top: 0;
  margin-left: 17rem;
  margin-bottom: 4rem;
  background-color: #ee6e73;
  color: #fefefe; }
  .page-header h1 {
    letter-spacing: 3px;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 200;
    margin: 0; }

.separator {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem; }

.question-qualifier {
  display: inline-block;
  padding-right: 6px; }

.graph {
  width: 600px; }

.table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb; }
  .table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center; }
  .table td,
  .table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em; }
  .table td {
    border-bottom: 1px solid #cbcbcb; }
  .table thead {
    background-color: #e0e0e0;
    color: #000;
    background-color: #4db6ac;
    color: #fefefe;
    text-align: left;
    vertical-align: bottom; }
    .table thead th {
      border-left: 1px solid #4db6ac; }
  .table a {
    color: rgba(0, 0, 0, 0.74);
    padding: 0.25rem 0.5rem;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 2px; }
    .table a:hover {
      background-color: rgba(0, 0, 0, 0.14); }
