extends ../layouts/layout-main
block content
    div(id='about' class='about')
        h2(class='menu-header') About Us
        div(class='display')
            p.
                We are a family owned burger joint that is dedicated to giving every customer the most delectable burger they've ever had. 
                Our hand made, char broiled burgers will leave you wanting more. 
                We have a variety of sides and drinks to go with your perfectly crafted burger.
                From fresh cut fries to mashed potatoes, coke and pepsi products, we have all the friends your burger will ever need.
                If you want something put on the menu, ask for it! With enough people asking for the same thing, we'll do our best to put it on the menu. 
                Customers come first.