extends ../layouts/layout-main
block page-title
    h1 Login
block content
    div(id="login")
        form(id="form" method="post", action="/login" class="form")
            fieldset
                label(class='form-label') Name
                input(type="text" name="userName")
                label(class='form-label') Password
                input(type="password", name="password")
            input(id="login-button" type="submit" value="Submit" class='form-btn')
