doctype html
html
    head
        title #{title}
    body
        h3 Questionare
        form(id="form" method="post", action="/questions")
            label Question One
            br
            input(type="text" name="question1")
            br
            input(type="text" name="question2")
            br
            input(type="text" name="question3")
            br
            input(type="submit" value="Submit")
