extend ../layouts/layout-main
block content
    h3 Register
    form(id="form" method="post", action="/register")
        label Username
        input(type="text" name="userName")
        br
        label Password
        input(type="password", name="password")
        br
        label Email
        input(type="text", name="email")
        br
        label Age
        input(type="number", name="age")
        br
        div
            each question, index in questions
                ul 
                label #{question.question}
                    each answer in question.answers
                        li
                            input(type='radio' name="answer" + (index + 1) value=answer.id)                                    
                            label #{answer.value}
        input(type="submit" value="Submit")
