extend ../layouts/layout-main
block page-title
    h1 Register
block content
    div(id="register")
        form(id="form" method="post", action="/register" class="form")
            fieldset
                label(class="form-label") Username
                input(type="text" name="userName")
                label(class="form-label") Password
                input(type="password", name="password")
                label(class="form-label") Email
                input(type="text", name="email")
                label(class="form-label") Age
                input(type="number", name="age")
                div(id="reg-questions")
                    each question, index in questions
                        ul 
                        label #{question.question}
                            each answer in question.answers
                                li(id="reg-answer-" + answer.id)
                                    input(type='radio' name="answer" + (index + 1) value=answer.id)                                    
                                    label #{answer.value}
            input(type="submit" value="Submit" class='form-btn')
