html
    head
        title #{title}
    body
        h3 Name Entry
        form(id="form" method="post", action="/register")
            label Name
            br
            input(type="text" name="userName")
            br
            label Password
            br
            input(type="password", name="password")
            label Email
            br
            input(type="text", name="email")
            label Age
            br
            input(type="number", name="age")
            br
            input(type="submit" value="Submit")
